In [1]:
from algos.ratio.live_trader import liveTrading
import pandas as pd

In [2]:
lt = liveTrading('TROYBTC')

In [3]:
trades = lt.exchange.sapi_get_margin_mytrades({'symbol': lt.symbol, 'isIsolated': 'TRUE'})

In [4]:
trades_df = pd.DataFrame(trades)

In [30]:
trades_df['price'] = trades_df['price'].astype(float)

In [31]:
trades_df['qty'] = trades_df['qty'].astype(float)

In [16]:
reverse_df = trades_df[::-1].reset_index(drop=True)

In [25]:
select_df = pd.DataFrame()
for idx, row in reverse_df.iterrows():
    if row['isBuyer'] != reverse_df.iloc[0]['isBuyer']:
        break
    
    select_df = select_df.append(row, ignore_index=True)

In [28]:
select_df

,commission,commissionAsset,id,isBestMatch,isBuyer,isIsolated,isMaker,orderId,price,qty,symbol,time
0,37.781,TROY,2010107.0,1.0,1.0,1.0,0.0,10576831.0,0.00000013,37781,TROYBTC,1.611456e+12
1,7.827,TROY,2002935.0,1.0,1.0,1.0,0.0,10394660.0,0.0000001,7827,TROYBTC,1.610496e+12
2,7.826,TROY,2002449.0,1.0,1.0,1.0,0.0,10375780.0,0.0000001,7826,TROYBTC,1.610461e+12
3,64.527,TROY,1994873.0,1.0,1.0,1.0,0.0,10273886.0,0.00000008,64527,TROYBTC,1.609943e+12

In [27]:
select_df['price'] * select_df['qty']

TypeError: can't multiply sequence by non-int of type 'str'

In [24]:
trades_df

,symbol,id,orderId,price,qty,commission,commissionAsset,time,isBuyer,isMaker,isBestMatch,isIsolated
0,TROYBTC,1994133,10253087,0.00000009,22000,22,TROY,1609771032954,True,False,True,True
1,TROYBTC,1994134,10253147,0.00000008,21978,0.00000176,BTC,1609771638485,False,False,True,True
2,TROYBTC,1994135,10253246,0.00000008,12164,0.00000097,BTC,1609772483904,False,False,True,True
3,TROYBTC,1994136,10253247,0.00000009,12164,12.164,TROY,1609772494877,True,False,True,True
4,TROYBTC,1994137,10253248,0.00000009,1216,1.216,TROY,1609772498608,True,False,True,True
5,TROYBTC,1994246,10259005,0.00000008,1203,0.0000001,BTC,1609814531243,False,False,True,True
6,TROYBTC,1994248,10259150,0.00000008,2888,0.00000023,BTC,1609815258535,False,False,True,True
7,TROYBTC,1994251,10259287,0.00000009,2888,2.888,TROY,1609816636818,True,False,True,True
8,TROYBTC,1994726,10270565,0.00000007,64433,0.00000451,BTC,1609903631765,False,False,True,True
9,TROYBTC,1994873,10273886,0.00000008,64527,64.527,TROY,1609942588980,True,False,True,True
10,TROYBTC,2002449,10375780,0.0000001,7826,7.826,TROY,1610461103456,True,False,True,True
11,TROYBTC,2002935,10394660,0.0000001,7827,7.827,TROY,1610496214881,True,False,True,True
12,TROYBTC,2010107,10576831,0.00000013,37781,37.781,TROY,1611456490928,True,False,True,True