In [1]:
import pandas as pd
from algos.daddy.trade_analysis import get_trade_funding_data, process_data, get_details

In [2]:
EXCHANGES = pd.read_csv('algos/xbt_daddy/exchanges.csv')

In [3]:
row=EXCHANGES.iloc[0]

In [4]:
trades, fundings = get_trade_funding_data(row)

In [5]:
trades = process_data(trades, row)

In [11]:
fundings = fundings[['transactTime', 'qty']]

In [14]:
fundings = fundings.rename(columns={'qty': 'funding_amt'})

In [15]:
pd.merge_asof(trades, fundings, on='transactTime')

,transactTime,side,price,amount,fee,actualExecuted,first_time,last_time,total_trades,total_non_dupes,mean_time_taken_except_last,timestamp,close,expectedPrice
0,2020-10-27 04:40:00,BUY,13109.000000,417.0,NaN,2020-10-27 04:39:18.736,2020-10-27 04:39:18.736,2020-10-27 04:39:18.736,1,1,NaN,NaT,NaN,NaN
1,2020-10-27 11:30:00,SELL,13450.500000,417.0,NaN,2020-10-27 11:32:06.522,2020-10-27 11:32:06.522,2020-10-27 11:32:06.522,1,1,NaN,NaT,NaN,NaN
2,2020-10-27 14:20:00,BUY,13416.000000,588.0,NaN,2020-10-27 14:18:03.512,2020-10-27 14:18:03.512,2020-10-27 14:18:03.512,1,1,NaN,NaT,NaN,NaN
3,2020-10-27 16:00:00,SELL,13623.000000,588.0,NaN,2020-10-27 15:58:09.070,2020-10-27 15:58:09.070,2020-10-27 15:58:09.070,1,1,NaN,NaT,NaN,NaN
4,2020-10-28 00:40:00,BUY,13722.500000,727.0,NaN,2020-10-28 00:38:03.083,2020-10-28 00:38:03.083,2020-10-28 00:38:03.083,1,1,NaN,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,2021-05-07 00:00:00,BUY,56422.900779,3429.0,NaN,2021-05-07 00:00:12.067,2021-05-06 23:58:23.437,2021-05-07 00:00:12.067,13,12,9.8757,NaT,NaN,NaN
350,2021-05-07 04:40:00,SELL,55416.467521,3429.0,NaN,2021-05-07 04:40:11.882,2021-05-07 04:38:23.227,2021-05-07 04:40:02.008,12,12,9.8781,NaT,NaN,NaN
351,2021-05-07 06:10:00,BUY,56050.041558,1048.0,NaN,2021-05-07 06:10:14.001,2021-05-07 06:08:25.342,2021-05-07 06:10:04.119,12,12,9.8777,NaT,NaN,NaN
352,2021-05-08 08:10:00,SELL,59014.000000,1048.0,NaN,2021-05-08 08:09:49.942,2021-05-08 08:08:23.306,2021-05-08 08:09:42.070,12,12,7.8764,NaT,NaN,NaN
353,2021-05-08 10:40:00,BUY,58939.247194,3216.0,NaN,2021-05-08 10:39:50.111,2021-05-08 10:38:23.486,2021-05-08 10:39:42.238,12,12,7.8752,NaT,NaN,NaN

            transactTime  funding_amt
5    2020-10-28 04:00:00     0.072700
31   2020-10-29 04:00:00    -0.026775
58   2020-11-01 20:00:00     0.027230
59   2020-11-02 04:00:00    -0.001945
85   2020-11-02 20:00:00    -1.882580
...                  ...          ...
4490 2021-05-06 12:00:00     0.834000
4517 2021-05-07 04:00:00     0.342900
4542 2021-05-07 12:00:00     0.104800
4543 2021-05-07 20:00:00     0.104800
4544 2021-05-08 04:00:00     0.104800

[294 rows x 2 columns]

In [6]:
get_details(trades, fundings)

TypeError: can't multiply sequence by non-int of type 'float'

In [11]:
fundings

            transactTime exchange  symbol    qty     price asset
5    2020-10-28 04:00:00   BITMEX  XBTUSD    727   13792.6   XBT
31   2020-10-29 04:00:00   BITMEX  XBTUSD    525  13283.12   XBT
58   2020-11-01 20:00:00   BITMEX  XBTUSD    389  13798.95   XBT
59   2020-11-02 04:00:00   BITMEX  XBTUSD    389  13711.51   XBT
85   2020-11-02 20:00:00   BITMEX  XBTUSD  13447  13566.55   XBT
...                  ...      ...     ...    ...       ...   ...
4490 2021-05-06 12:00:00   BITMEX  XBTUSD   8340  58026.88   XBT
4517 2021-05-07 04:00:00   BITMEX  XBTUSD   3429  55757.95   XBT
4542 2021-05-07 12:00:00   BITMEX  XBTUSD   1048  56503.37   XBT
4543 2021-05-07 20:00:00   BITMEX  XBTUSD   1048  57652.58   XBT
4544 2021-05-08 04:00:00   BITMEX  XBTUSD   1048  58187.39   XBT

[294 rows x 6 columns]

In [ ]:
#mex funding dosen't contain the funding amount