In [1]:
import pandas as pd
from algos.daddy.trade_analysis import get_trade_funding_data, process_data, get_details

In [2]:
EXCHANGES = pd.read_csv('algos/xbt_daddy/exchanges.csv')

In [3]:
row=EXCHANGES.iloc[0]

In [4]:
trades, fundings = get_trade_funding_data(row)

In [5]:
trades = process_data(trades, row)

In [7]:
summary, print_trades, buys, sells = get_details(trades, fundings)

/home/warproxxx/Desktop/Projects/algorithms/algos/daddy/trade_analysis.py:172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  buys['slippage_percentage'] = (((buys[comp2] - buys[comp1])/buys[comp1]) * 100)
/home/warproxxx/Desktop/Projects/algorithms/algos/daddy/trade_analysis.py:173: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sells['slippage_percentage'] = (((sells[comp1] - sells[comp2])/sells[comp2]) * 100)

In [8]:
print_trades = print_trades[['transactTime', 'side', 'price', 'fee']]

In [9]:
summary

{'Total Trades': 356,
 'Total Fees Paid': '6839.544 $',
 'Avg Fee': '0.074 %',
 'Total Funding Paid': '2682.841 $',
 'Avg Funding Interest': '10.713 %',
 'Avg Slippage to 00 (Neg Bad)': '0.006 %',
 'Avg Slippage to 08 (Neg Bad)': '0.007 %'}

In [10]:
row = EXCHANGES.iloc[2]

In [11]:
trades, fundings = get_trade_funding_data(row)

In [12]:
trades = process_data(trades, row)

In [13]:
summary, print_trades, buys, sells = get_details(trades, fundings)

In [14]:
summary

{'Total Trades': 3,
 'Total Fees Paid': '7.819 $',
 'Avg Fee': '0.063 %',
 'Total Funding Paid': '2.168 $',
 'Avg Funding Interest': '6.374 %',
 'Avg Slippage to 00 (Neg Bad)': '0.0 %',
 'Avg Slippage to 08 (Neg Bad)': '0.0 %'}

In [15]:
print_trades

         transactTime  side         price        transactTime       fee
0 2021-05-08 10:40:00   BUY  58929.975610 2021-05-08 10:40:00  3.044323
1 2021-05-08 16:00:00  SELL  57749.706098 2021-05-08 16:00:00  2.983350
2 2021-05-08 19:30:00   BUY  59244.583333 2021-05-08 19:30:00  1.791556